[info]
id=21250301
type=agm
netcard=ens33
linknode=172.16.180.98
disk=/dev/sda2
beginpoint=0
freq=30
freq1=0
freq2=0
freq3=0
freq4=60
freq5=60

[db]
host=127.0.0.1
port=3306
user=root
passwd=
name=agm
reconnect=1
timeout=10

[net]
server=172.16.180.98:1883
user=admin
passwd=admin
pub=ds/monitor/data
sub=ds/dev/collect/freq
pubqos=0
subqos=0
retained=0
keepalive=20
cleansession=1
